@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body::before{
  background:url( "https://source.unsplash.com/1100x500/?rainbow");
  background-repeat: no-repeat;
  background-size: cover;
  content:" ";
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow-y: hidden;
  opacity: 0.8;

}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.header {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 12vh;
position:relative;
}

.logo{
  margin-top: 5px 0px;
  padding: 0.2em;
  border-radius: 1px;
  width: 10vw;
  /* height:5rem; */
  text-align: center;
  font-size:2rem;
  text-decoration: none;
  list-style: none;
  
}
#logo-text{
  margin-top:5px;
  color:transparent;
  background-clip: text;
  -webkit-background-clip:text;
  font-family:'Tangerine', serif;
  font-weight: 600;
  font-size: 2.5rem;
  background-image:conic-gradient(rgb(116, 0, 233),rgb(209, 0, 0),rgb(0, 0, 0),rgb(0, 0, 0));
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  /* background-color: black; */
}
.navbar .search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: auto;
  height:6vh;
  /* background-color: black; */
  border-radius: 2px;
}
.search input{
  padding: 5px;
  margin-right: 2px;
  width: 20vw;
  height:6vh;
  border-radius: 2px;
  border: none;
  text-align:center;
  background-color:transparent;
  color:#212529;
  box-shadow: 0px 0px 4px 1px rgba(215, 218, 219, 0.4);
  font-size: 1rem;;

}
.search input:hover{
  background: rgb(194, 189, 189);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(8, 8, 8);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(0, 0, 0);
}

button{
  padding: 5px;
  margin-left: 5px;
  width: 50px;
  height:5vh;
  border-radius: 2px;
  border: none;
  text-align:center;
  background-color:transparent;
  color:#212529;
  background-color: rgba(18, 37, 37, 0.4);;
  box-shadow: 0px 0px 4px 1px rgba(11, 12, 12, 0.4);
  font-size: 1rem;;
}
button:hover{
  width: 52px;
  margin-left: 4px;
  background-color: rgb(212, 212, 212);
  transition: .3s linear;
}


.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* sticky navbar  */
header.sticky
{
  position: fixed;
  padding:10px 40px;
  background-color: #e7f5ff;
  height: 10vh;
}


.container{
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:75vh;
  margin-bottom:  30px;

}
.current-weather{
  display: flex;
  width:100%;
  height:100%;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  box-shadow:10px 100px#003366;
}
.current-weather h1,span{
  font-size: 3rem;
  font-family:'Tangerine', serif;
  font-weight: 1000;
}
.weather-card{
  margin: 10px 0px;
  width: 90%;
  height: 50vh;
background-color:transparent;
  font-size: 5em;
  display: flex;
  align-items:center;
justify-content: space-around;
border-top: 1px solid black;
border-left: 1px solid black;

box-shadow: 10px 10px 8px 10px rgba(19, 26, 29, 0.452);
}
.card-info{
  padding:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 70%;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  
  font-size: 3rem;
}
.container1{
  width: 100vw;
  height: 100vh;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#today{
  padding: 5px 5px 5px 10px;
  display:flex;

  justify-content:flex-start;
  align-items: center;
  width:100vw; 
  height: 50vh;
  overflow: hidden;

}
.weather-info{
height: 250px;
text-align: center;
margin: 5px 5px 5px 10px;
color: #131516;
width: 250vw;
box-shadow: 0 4px 8px 0 rgba(12, 23, 189, 0.2), 0 6px 20px 0 rgba(88, 7, 7, 0.19);
text-align: center;

}
.weather-info h1{
  margin-bottom: 50px;
  font-family:serif;
  font-size: 2em;
}




/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 980px) {
  .mobile-navbar-btn {
    display: block;
    z-index:1000000;
    border: 3px solid #212529;
    color: #212529;
    width:6vw;
    height:auto;
    border: none;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 5vw;
  }

  .navbar {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: fixed;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="grid-outline"] {
    display: none;
  }
 #today{
  overflow-x:scroll;
 }
  .expand .todays-weather{
    display: none;
    /* visibility: hidden; */
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 20vw;
  }
}